body{
    background-color:rgb(1, 48, 110);
    font-family: sans-serif;
}

h1 {
    color: rgb(4, 173, 252);
    text-align: left;
   
    font-size: 3em;
    padding-right: 20px  ;
}

input {
    width: 255px ;
    height: 55px;
    border-radius: 4px;
    font-size: 2em;
    border: none;
    background: rgb(1, 48, 110);
    color: rgb(4, 173, 252);
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(4, 173, 252);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 28px;

    padding: 14px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
  }
  
  .button:hover {
    background-color: rgb(7, 133, 252);
    transition: 0.1s;
  }

  .button:active {
    transform: translateY(4px);
  }

  p {
      text-align: center;
      color: white;
      font-size: 2em;
  }

  table{
    margin-left:auto; 
    margin-right:auto;
  }
  .item {
    font-size: 25px;
    line-height: 20px;
    color:rgb(4, 173, 252);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    transition: 250ms ease;
    border-bottom: solid 1px;
    border-color: rgba(74, 92, 104, 0.726);
}
 .item:hover {
    color: rgb(238, 15, 15);
}

