<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-list</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <table>
        <tr>
            <td>
                <h1>TODO:</h1>
            </td>
            <td>
                <div class="add">
                    <input id="input-line" type="text" name="" placeholder="Type Something...">
                    <button onclick="addItem()" class="button">Add</button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="counter">
                    <p>You have <span id="NuberOfItems">0</span> items in your list:</p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="Itemlist">

                </div>
            </td>
        </tr>
    </table>





    <script src="../scripts/index.js"></script>
</body>

</html>